/* --- GENERAL VARIABLES --- */
:root {
    --main-color: #ff8700;
    --sec-color:#7a9aaf;
    --third-color:#eee;
    --bg-color:#1A2238;
    --fourth-color: #57829f;
    --main-transition: 0.3s;
    --main-padding: 60px;
}

/* --- CUSTOM CSS RESET --- */   
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- GENERAL RULES --- */
body {
    font-family: 'open Sans', sans-serif;
    background-color: white;
}
html {
    scroll-behavior: smooth;
}

/* --- CUSTOM GENERAL COMPONANTS --- */
/* 1- Main Heading */
.main-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.main-heading i {
    font-size: 3rem;
    color: #1a2238;
    margin-bottom: 1.5rem;
}
.main-heading h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 50px;
} 
.main-heading h2::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #797e89;
    width: 100px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading h2::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #797e89;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid #797e89;
}
.main-heading p {
    color: #797e89;
    font-size: 18px;
}

/* 2- Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* 2-1- Small Devices */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* 2-2- Meduim Devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* 2-3- Large Devices */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* 3- CUSTOM GRID  */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
/* (3) Columns Display */
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
/* (4) Columns Display */
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}

/* 4- CLOTHES CATEGORY */
.clothes-header {
    width: 100%;
}
.clothes-header .header-title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
/* --- START MEN --- */
.men {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
}
.men .shuffle-men {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.men .shuffle-men li {
    list-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.25s all ease;
}
.men .shuffle-men li.active {
    background-color: var(--orange-color);
    color: var(--main-color);
    border-radius: 50rem;
}
.men .shuffle-men li:not(.active):hover {
    color: var(--orange-color);
}
.men .col-lg-3 {
    margin-bottom: 50px;
}
@media(max-width: 992px) {
    .men .col-lg-3 {
        width: 50%;
    }
}
@media(max-width: 768px) {
    .men .col-lg-3 {
        width: 100%;
    }
}
.men-box .image {
    transition: 0.4s all ease;
    cursor: pointer;
    margin-bottom: 15px;
}
.men-box .image:hover {
    transform: translateY(-8px) scale(1.1);
}
.men-box .image img {
    border-radius: 20px;
}
.men-box .info {
    position: relative;
}
.men-box .info .price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 10px auto;
}
.men-box .info .price h3 {
    font-size: 1.3rem;
} 
.men-box .info .price h3 {
    color: #222;
}
.info .size {
    margin-top: 20px;
    position: relative;
}
.info .size::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 1px;
    border-top: 1px dashed #797e89;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.info .size-items {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.info .size-items li {
    list-style: none;
    padding: 0.2rem 0.6rem;
    border: 1px solid #797e89;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: var(--main-transition);
}
.info .size-items li:hover {
    background-color: var(--main-color);
    color: #eee;
    border: none;
    transition: var(--main-transition);
}
.info .cart-box {
    width: 50%;
    margin: 0 auto;
}
.my-bag-btn {
    display: block;
    text-decoration: none;
    /* background-color: transparent; */
    background-color: var(--main-color);
    /* color: var(--orange-color); */
    color: var(--third-color);
    font-weight: 500;
    padding: 10px 5px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid var(--orange-color);
    transition: all .5s ease;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
}
/* --- END MEN --- */

/* --- START WOMEN --- */
.women {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}
.women .header-items-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.women .shuffle-women {
    left: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    position: absolute;
    justify-content: center;
    transform: translateX(-50%);
}
.women .shuffle-women li {
    list-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.25s all ease;
}
.women .shuffle-women li.active {
    background-color: var(--orange-color);
    color: var(--main-color);
    border-radius: 50rem;
}
.women .shuffle-women li:not(.active):hover {
    color: var(--orange-color);
}
.women .sort-items {
    display: inline-block;
}
.women .sort-items .sort-options {
    margin-left: 5px;
    padding: 6px 28px 6px 10px;
    font-size: .95em;
    background-color: #fff;
    width: 177px;
    height: 40px;
    border-color: #00000026;
    cursor: pointer;
    outline: none;
}
.women .sort-items .sort-options:visited,
.women .sort-items .sort-options:focus {
    border-color: #000;
}
.women .sort-items .sort-options option {
    color: #000;
    text-align: center;
}
.women .col-lg-3 {
    margin-bottom: 50px;
}
@media(max-width: 992px) {
    .women .col-lg-3 {
        width: 50%;
    }
}
@media(max-width: 768px) {
    .women .col-lg-3 {
        width: 100%;
    }
}
.women .women-box .image{
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.women .women-box .image:hover {
    transform: translateY(-8px);
}
.women .women-box .image img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.women .women-box .old-item {
    position: static;
}
.women .women-box .info {
    position: relative;
}
.women .women-box .info .price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    width: 75%;
}
.women .women-box .info .no-sale {
    width: 50%;
}
.women .women-box .info .price h3 {
    color: #222;
    font-size: 1.3rem;
}
.women .women-box .info .price .new-price {
    font-size: 1.3rem;
    color: #fa6338;
}
.women .women-box .info .price del {
    font-size: 1.2rem;
    margin-left: -15px;
    color: #999;
}
.women .women-box .info .item-rated {
    color: rgb(102, 102, 102);
    background-color: rgb(246, 246, 246);
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.1667;
}
.women .women-box .info .size {
    position: relative;
    font-size: 18px;
    margin-top: 20px;
}
.women .women-box .info .size::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 1px;
    border-top: 1px dashed #797e89;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
}
.women .women-box .info .size-items {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.women .women-box .info .size-items li {
    list-style: none;
    padding: 0.2rem 0.6rem;
    border: 1px solid #797e89;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 10px;
}
.women .women-box .info .size-items li:hover {
    background-color: var(--main-color);
    color: #eee;
    border: none;
    transition: var(--main-transition);
}
.women .women-box .info .cart-box {
    width: 50%;
    margin: 0 auto;
}
.my-bag-btn {
    display: block;
    text-decoration: none;
    /* background-color: transparent; */
    background-color: var(--main-color);
    /* color: var(--orange-color); */
    color: var(--third-color);
    font-weight: 500;
    padding: 10px 5px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid var(--orange-color);
    transition: all .5s ease;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
}
/* --- END WOMEN --- */

/* --- START KIDS --- */
.kids {
    text-align: center;
    padding-top: var(--main-padding); 
    padding-bottom: var(--main-padding); 
}
.kids .col-lg-3 {
    margin-bottom: 50px;
}
@media(max-width: 992px) {
    .kids .col-lg-3 {
        width: 50%;
    }
}
@media(max-width: 768px) {
    .kids .col-lg-3 {
        width: 100%;
    }
}
.header-items-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
} 
.header-items-select .shuffle-kids {
    left: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    position: absolute;
    justify-content: center;
    transform: translateX(-50%);
}
.header-items-select .shuffle-kids li {
    list-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.25s all ease;
}
.header-items-select .shuffle-kids li.active {
    background-color: var(--orange-color);
    color: var(--main-color);
    border-radius: 50rem;
}
.header-items-select .shuffle-kids li:not(.active):hover {
    color: var(--orange-color);
}
.sort-items {
    display: inline-block;
}
.sort-items .sort-options {
    margin-left: 5px;
    padding: 6px 28px 6px 10px;
    font-size: .95em;
    background-color: #fff;
    width: 177px;
    height: 40px;
    border-color: #00000026;
    cursor: pointer;
    outline: none;
}
.sort-items .sort-options:visited,
.sort-items .sort-options:focus {
    border-color: #000;
}
.sort-items .sort-options option {
    color: #000;
    text-align: center;
}
.kids .info .price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    width: 75%;
}
.kids .info .no-sale {
    width: 50%;
}
.kids .info .price h3 {
    font-size: 1.3rem;
    color: #222;
}
.kids .women-box .image{
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.kids .women-box .image:hover {
    transform: translateY(-8px);
}
.kids .image img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.kids .clothes-header span {
    font-size: 20px;
    color: #797e89;
}
/* --- END KIDS --- */

/* Start Footer */
@media(max-width: 992px) {
    .footer {
        text-align: center;
    }
}
/* Foot 1 */
.footer .foot-1 {
    background-color: #243050;
}
.footer .foot-1 .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
@media(max-width: 768px) {
    .footer .foot-1  .container {
        flex-direction: column;
    }
}
.footer .foot-1  .container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer .foot-1  .container .social {
    display: flex;
    gap: 20px;
}
@media(max-width: 768px) {
    .footer .foot-1  .container .social {
        justify-content: center;
        align-items: center;
        margin-top: 12px;
    }
}
.footer .foot-1  .container .social a {
    color: white;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .foot-1  .container .social a:hover {
    color: var(--main-color);
}
/* Foot 2 */
.foot-2 {
    background-color: var(--bg-color);
}
.foot-2 .container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.foot-2 .container .head {
    margin-top: 30%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.foot-2 .container .head span {
    color: var(--main-color);
}
.foot-2 .container .info h2 {
    padding: 20px 5px;
    color: white;
    font-size: 40px;
}
.foot-2 .container .info ul {
    padding: 0px 5px;
}
.foot-2 .container .info li {
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0 5px;
    transition: var(--main-transition);
    cursor: pointer;
}
.foot-2 .container .info li:hover {
    color: var(--main-color);
}
@media(max-width: 992px) {
    .foot-2 .container .links  {
        margin: auto;
    }
}
.foot-2 .container .links h2 {
    padding: 20px 5px;
    color: white;
    font-size: 40px;
}
.foot-2 .container .links a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: white;
    margin-bottom: 17.5px;
    transition: var(--main-transition);
}

.foot-2 .container .links a:hover {
    transform: translateX(10px);
}
.foot-2 .container .links a i {
    color: var(--main-color);
}
.foot-2 .container .links a li {
    font-size: 17px;
}
.foot-2 .container .contact h2 {
    padding: 20px 5px;
    color: white;
    font-size: 40px;
}
.foot-2 .container .contact {
    display: flex;
    flex-direction: column;
}
.foot-2 .container .contact .cont {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
}
@media(max-width: 992px) {
    .foot-2 .container .contact .cont {
        margin: 0 auto 30px;
    }
}
.foot-2 .container .contact .cont i {
    color: var(--main-color);
}
.foot-2 .container .contact .cont p {
    color: white;
}
/* Foot-3 */
.foot-3 {
    background-color: var(--main-color);
}
.foot-3 .container p {
    text-align: center;
    padding: 10px 0;
    color: black;
    font-size: 17px;
}
/* End Footer */